/* Footer.css */

/* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #a07ecd;
    color: rgb(142, 20, 20);
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 00px;
    margin: 0 auto;
  }
  
  .footer-links {
    display: flex;
    margin-left: 250px;
    margin-right: 50px;
    
  }
  
  .icon {
    font-size: 2rem;
    margin: 0 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .github:hover {
    animation: githubAnim 0.5s ease-in-out infinite;
  }
  
  .linkedin:hover {
    animation: linkedinAnim 0.5s ease-in-out infinite;
  }
  
  .website:hover {
    animation: websiteAnim 0.5s ease-in-out infinite;
  }
  
  @keyframes githubAnim {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes linkedinAnim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes websiteAnim {
    0% {
      transform: rotate(0);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  .github,
.linkedin,
.website {
  color: #521952; 
} */
/* Footer.css */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 13px;
}

.icon {
  font-size: 1.5rem;
}

/* Adjust the colors and sizes according to your design */
