
.footer {
  background-color: #02121a; 
    background-color: #011a26;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%237f56c0' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: white; 
  width: 100%;
  position: fixed;
  bottom: 0;


  left: 0;
  z-index: 999;
}

.footer-content {
  max-width: 1000px; 
  margin: 0 auto;
  padding: 6px; 
  display: flex;
  justify-content: center;


}


.footer-links {
  display: flex;
  gap: 20px;
}


.icon {
  font-size: 24px;
}


.icon.github {
  color: #fff;
}

.icon.linkedin {
  color: #0077b5; 
}

.icon.website {
  color: #ff9900; 
}
.footer-info p {
  margin: 0; 
}


.footer-info p:first-child {
  text-align: left; 
}

.footer-info p:last-child {
  text-align: right; 
}