
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

