.navbar {
  background-color: #011a26; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 23px;
  margin: 0;
}

.nav-links li {
  margin: 0;
  margin-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white; 
  padding: 15px 15px; 
  cursor: pointer;
}

.nav-links a:hover {
  text-decoration: underline; 
}

.nav-links a.active {
  font-weight: bold; 
}
.mobile .nav-links {
  display: none;
}
.mobile .mobile-menu-icon {
  display: block;

}
.mobile.expanded .nav-links {
  display: block;

}
