.navbar {
  background-color: #011a26; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 23px;
  margin: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white; 
  padding: 15px 15px; 
  cursor: pointer;
}

.nav-links a:hover {
  text-decoration: underline; 
}

.nav-links a.active {
  font-weight: bold; 
}
.navbar {
  cursor: url('https://png.pngtree.com/thumb_back/fw800/background/20220901/pngtree-3d-silver-pointer-cursor-pointer-bright-photo-image_553261.jpg'), auto; 
}